<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script type="text/javascript" language="javascript" src="/static/js/excanvas.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" language="javascript" src="/static/js/jquery.flot.js"></script>
    <script type="text/javascript" src="/static/js/jquery.flot.time.js"></script>
    <script type="text/javascript" src="/static/js/jquery.flot.axislabels.js"></script>
    <script type="text/javascript" src="/static/js/jquery.loadmask.min.js"></script>
    <link href="/static/css/jquery.loadmask.css" rel="stylesheet" type="text/css" />
    <!--<script type="text/javascript" src="jquery.loadmask.min.js"></script>-->
    <style>
        #placeholder {
        width: 550px;
        height: 500px;
    }
        ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
.Right{
        float: right;
        }
        select {
    padding:3px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}
        input[type=submit] {
    border: 1px solid #f44c0e;
    color: #fff;
    background: tomato;
    padding: 10px 20px;
    border-radius: 3px;
}
input[type=submit]:hover {
    background: #f44c0e;
}
        .Rightside{
        float:right;
        }
        series: {
    shadowSize: 5
}
    </style>
</head>
<body>
<!--<form action="GET" id="frm"accept-charset="utf-8" data-parsley-validate>{% csrf_token %}-->
  <div class="nav">
    <div class="container">
	<ul>
	  <li><a href="#">Home</a></li>
	  <li><a href="#">Browse</a></li>
	  <li class="Right"><a href="#">Help</a></li>
	  <li class="Right"><a href="#">Log In</a></li>

        <li class="Right"><a href="#">Sign Up</a></li>

	</ul>
	</div>
  </div>
<div>

    <div>
     <div>
        Country:<input type="text" name="country" id="country_name">
     </div>
     <div>
        City&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:<input type="text" name="city" id="city_name" >
     </div>
     <div>
     <select id="dataselect" name="dataselect">
         <option value="Temperature">Temperature</option>
         <option value="Humidity">Humidity</option>
     </select>
     <h2> weather parameter</h2>
     <div>
    </div>
<div class="Rightside">
    <h3>Select from a city</h3>
    <div class="OneValue">
        <select id="dataselect1" name="dataselect">
         <option value="Temperature">Temperature</option>
         <option value="Humidity">Humidity</option>
     </select>
     <h2> weather parameter</h2>
    <h2>List of cities</h2>
        <select id="city_name1">

           {%for data in list%}

              <option value="{{data}}">{{data}}</option>
            {%endfor%}
                        <option value="None">None</option>
            </select>

    </div>
    <div class="demo">

    <p>Starting Date:</p>
        <select id="from_month1" name="from_month">
            <option value="01">January</option>
            <option value="02">February</option>
            <option value="03">March</option>
            <option value="04">April</option>
            <option value="05">May</option>
            <option value="06">June</option>
            <option value="07">July</option>
            <option value="08">August</option>
            <option value="09">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
        </select>
        <select id="from_day1" name="from_day">
            <option value="01">1</option>
            <option value="02">2</option>
            <option value="03">3</option>
            <option value="04">4</option>
            <option value="05">5</option>
            <option value="06">6</option>
            <option value="07">7</option>
            <option value="08">8</option>
            <option value="09">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
        </select>
        <select id="from_year1" name="from_year">
            <option value="2011">2011</option>
            <option value="2012">2012</option>
            <option value="2013">2013</option>
            <option value="2014">2014</option>
            <option value="2015">2015</option>
        </select>
        <input type="hidden" id="datepicker1" />
    </div>
    <div>
        <p>Ending Date:</p>
           <select id="to_month1" name="to_month">
            <option value="01">January</option>
            <option value="02">February</option>
            <option value="03">March</option>
            <option value="04">April</option>
            <option value="05">May</option>
            <option value="06">June</option>
            <option value="07">July</option>
            <option value="08">August</option>
            <option value="09">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
        </select>
        <select id="to_day1" name="to_day">
            <option value="01">1</option>
            <option value="02">2</option>
            <option value="03">3</option>
            <option value="04">4</option>
            <option value="05">5</option>
            <option value="06">6</option>
            <option value="07">7</option>
            <option value="08">8</option>
            <option value="09">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
        </select>
            <select id="to_year1" name="to_year">
                <option value="2011">2011</option>
                <option value="2012">2012</option>
                <option value="2013">2013</option>
                <option value="2014">2014</option>
                <option value="2015">2015</option>
            </select>

        <div>
            <br>
        <input type="submit" value="SUBMIT" id="submit_one_btn">

        </div>
        </div>
    </div>

<div class="demo">

    <p>Starting Date:</p>
        <select id="from_month" name="from_month">
            <option value="01">January</option>
            <option value="02">February</option>
            <option value="03">March</option>
            <option value="04">April</option>
            <option value="05">May</option>
            <option value="06">June</option>
            <option value="07">July</option>
            <option value="08">August</option>
            <option value="09">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
        </select>
        <select id="from_day" name="from_day">
            <option value="01">1</option>
            <option value="02">2</option>
            <option value="03">3</option>
            <option value="04">4</option>
            <option value="05">5</option>
            <option value="06">6</option>
            <option value="07">7</option>
            <option value="08">8</option>
            <option value="09">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
        </select>
        <select id="from_year" name="from_year">
            <option value="2011">2011</option>
            <option value="2012">2012</option>
            <option value="2013">2013</option>
            <option value="2014">2014</option>
            <option value="2015">2015</option>
        </select>
        <input type="hidden" id="datepicker" />
    </div>
    <div>
        <p>Ending Date:</p>
           <select id="to_month" name="to_month">
            <option value="01">January</option>
            <option value="02">February</option>
            <option value="03">March</option>
            <option value="04">April</option>
            <option value="05">May</option>
            <option value="06">June</option>
            <option value="07">July</option>
            <option value="08">August</option>
            <option value="09">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
        </select>
        <select id="to_day" name="to_day">
            <option value="01">1</option>
            <option value="02">2</option>
            <option value="03">3</option>
            <option value="04">4</option>
            <option value="05">5</option>
            <option value="06">6</option>
            <option value="07">7</option>
            <option value="08">8</option>
            <option value="09">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
        </select>
            <select id="to_year" name="to_year">
                <option value="2011">2011</option>
                <option value="2012">2012</option>
                <option value="2013">2013</option>
                <option value="2014">2014</option>
                <option value="2015">2015</option>
            </select>

        </div>
        <div>
            <br>
        <input type="submit" value="SUBMIT" id="submit_account_btn">
        </div>
        </div>
        <div>
            <h3>Add New City</h3>
            <input type="text"  id="new_city">
            <input type="submit" value="SUBMIT" id="submit_new_btn">
            <div>
    <!--</form>-->
        <h3>DataChart<h3>
    <div id="placeholder"></div>
     <script type="text/javascript">
     $(document).ready(function(){

$('#submit_new_btn').click(function(){
            $('body').mask('loading');
            var dataString = '&city_name='+$('#new_city').val();
            var csrf = '{{csrf_token}}';
            $.ajax({
            type: 'POST',
            url: '/weather/addnewcity/',
            data: dataString,
            dataType: "json",
            headers: {'X-CSRFToken' : csrf },
            success: function(responseObj) {
                    alert(responseObj.status);
                    $('body').unmask();
                    window.location.reload();
                    },
                   error: function () {
                   $('body').unmask();
                  alert('Error');
              }
                });
        })
        var d1 = [[0.0]];
        $('#submit_account_btn').click(function(){
            if($('#to_month').val()!=$('#from_month').val()||$('#to_year').val()!=$('#from_year').val())
            {
                alert('Please enter dates for same month or same year');
                return false;
            }
            if(!$('#country_name').val()){
                alert('Enter Country Name');
                return false;
            }
            if(!$('#city_name').val()){
                alert('Enter City Name');
                return false;
            }
            $('body').mask('Loading');
            var dataString='&msg='+0+'&country_name='+$('#country_name').val()+'&city_name='+$('#city_name').val()+'&dataselect='+$('#dataselect').val()+'&to_day='+$('#to_day').val()+'&to_month='+$('#to_month').val()+'&to_year='+$('#to_year').val()+'&from_day='+$('#from_day').val()+'&from_month='+$('#from_month').val()+'&from_year='+$('#from_year').val();
            var csrf = '{{csrf_token}}';
            $.ajax({
             type: 'GET',
             url: '/weather/chartdata/',
             data: dataString,
             dataType: "json",
             headers: {'X-CSRFToken' : csrf },
             success: function(responseObj) {
                          $('body').unmask();
                          $(responseObj).each(function(s,p){
                                     var c = [];
                                     c.push(p.time);
                                     c.push(p.temp);
                                     d1.push(c);
                        });
        $.plot($("#placeholder"), [d1]);
        d1 = [];
    },
           error: function (error) {
                   $('body').unmask();
                  alert('Error');
              }
  });
});
  $('#submit_one_btn').click(function(){
           if($('#to_month1').val()!=$('#from_month1').val()||$('#to_year1').val()!=$('#from_year1').val())
            {
                alert('Please enter dates for same month or same year');
                return false;
            }
            if($('#to_day1').val()<$('#from_day1').val()){
            alert('Please enter valid dates');
            return false;
            }
            $('body').mask('loading')
            var dataString='&msg='+'1'+'&city_name='+$('#city_name1').val()+'&dataselect='+$('#dataselect1').val()+'&to_day='+$('#to_day1').val()+'&to_month='+$('#to_month1').val()+'&to_year='+$('#to_year1').val()+'&from_day='+$('#from_day1').val()+'&from_month='+$('#from_month1').val()+'&from_year='+$('#from_year1').val();
            var csrf = '{{csrf_token}}';
            $.ajax({
             type: 'GET',
             url: '/weather/chartdata/',
             data: dataString,
             dataType: "json",
             headers: {'X-CSRFToken' : csrf },
             success: function(responseObj) {
                          $('body').unmask();
                          $(responseObj).each(function(s,p){
                                     var c = [];
                                     c.push(p.time);
                                     c.push(p.temp);
                                     d1.push(c);
                        });
        $.plot($("#placeholder"), [d1]);
        d1 = [];
    },
               error: function (error) {
                  $('body').unmask();
                  alert('Error');
              }
  });
        });
    });
  </script>
</body>
</html>